# Exclude from the final project
_exclude:
    - ".git"
    - ".github"
    - ".gitignore"
    - "/includes/"
    - "copier.yml"
    - "meta"
    - "project"
    - ".meta-answers.yml"
    - "meta/"
    - "template/"
    
---
# Template settings
!include meta/settings.yml

---
# Common questions about the software project
!include meta/software.yml

---
# Common questions about software community
!include meta/community.yml

---
# Common questions about licensing
!include meta/licensing.yml

---
# Common questions about citation
!include meta/citation.yml

---
# Template specific questions 
!include project/custom.yml

---
# Template User Messages
!include meta/messages.yml
