alabaster==1.0.0
annotated-types==0.7.0
babel==2.17.0
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
copier==9.5.0
docutils==0.21.2
dunamai==1.22.0
funcy==2.0
idna==3.10
imagesize==1.4.1
Jinja2==3.1.5
jinja2-ansible-filters==1.3.2
MarkupSafe==3.0.1
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
plumbum==1.9.0
prompt-toolkit==3.0.36
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
PyYAML==6.0.2
questionary==2.0.1
requests==2.32.3
snowballstemmer==2.2.0
Sphinx==8.1.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
typing_extensions==4.12.2
urllib3==2.3.0
wcwidth==0.2.13
